body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 520px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
    display: none;
}

.title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}


input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Adicionado para garantir que o padding não adicione largura extra */
}

button#enviar-btn {
    width: 100%; /* Faz o botão expandir para a largura total */
    padding: 10px;
    margin-top: 10px; /* Adiciona um pouco de espaço acima do botão */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button#enviar-btn:hover {
    background-color: #45a049;
}

/* Adiciona um pouco de espaço abaixo do último form-group para que não fique muito próximo do botão */
.form-group:last-child {
    margin-bottom: 20px;
}